<div class="container mt-5">
  <h2><%=@article.title%></h2>
  <p><strong><%= @article.content %></strong></p>
  <br>
  <%= link_to "Edit article", edit_article_path(@article) %>
  <br>
  <%= link_to "Delete article",
              article_path(@article),
              method: :delete %>
  <br>
  <%= link_to "Overview", articles_path %>
</div>
